**BASICS OF PYTHON**
* Various Datatypes in Python
* Variable
* Variables Assigment
* Print Formatting
* Various DataTy
-Data types are of two types- mutable(list,set,dictionaries) and immutable(tuple).

In [1]:
## Variables
print(1+1)
print(2*3)
print(4-1)
print(4/2)

2
6
3
2.0

In [2]:
print(10%2)
print(10**2)

0
100

In [3]:
a=10        
b=10
a is b

True

In [4]:
a="Shubham Mourya"
print(a, type(a))
a=123
print(a, type(a))

Shubham Mourya <class 'str'>
123 <class 'int'>

In [5]:
st='Shubham Mourya'
print(st)

Shubham Mourya

In [7]:

print(st.isalnum()) #check if all char are numbers and alphabets
print(st.isalpha()) #check if all char in the string are alphabetic
print(st.isdigit()) #test if string has only digits
print(st.istitle()) #test if string contains title words
print(st.isupper()) #test if string contains upper case
print(st.islower()) #test if string contains lower case
print(st.isspace()) #test if string contains spaces
print(st.endswith('3')) #test if string ends with a 3
print(st.startswith('A')) #test if string starts with A

False
False
False
True
False
False
False
False
False

# **LIST**

In [8]:
 a=[1,4,5,6,'Shubham']
 type(a)

list

In [9]:
a[1]

4

In [10]:
a.append('MOURYA')
a

[1, 4, 5, 6, 'Shubham', 'MOURYA']

In [11]:
a.append([123,'DATA SCIENCE'])
a

[1, 4, 5, 6, 'Shubham', 'MOURYA', [123, 'DATA SCIENCE']]

In [12]:
a[1:5]

[4, 5, 6, 'Shubham']

In [14]:
a[::-1] ##reverse the string

[[123, 'DATA SCIENCE'], 'MOURYA', 'Shubham', 6, 5, 4, 1]

In [16]:
a.insert(3,'Mom')
a

[1, 4, 5, 'Mom', 'Mom', 6, 'Shubham', 'MOURYA', [123, 'DATA SCIENCE']]

In [17]:
a.remove('Mom')
a

[1, 4, 5, 'Mom', 6, 'Shubham', 'MOURYA', [123, 'DATA SCIENCE']]

**SET**

In [18]:
a={2,1,2,3,4,2}
a  #no repeats shown,unordered pairs, based on hash table,doesnt support indexing

{1, 2, 3, 4}

In [20]:
a.add(10)
a

{1, 2, 3, 4, 9, 10}

In [21]:
a={1,2,3,4,5}
b={2,4,5,2,4,3,3,7,8}
a.intersection(b)

{2, 3, 4, 5}

In [22]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8}

In [23]:
a-b

{1}

**LOOPS**

In [26]:
a=[2,4,2,5,7,2,8,4]
for x in a:
    print(x,end=" ")   #iterationg through list items

2 4 2 5 7 2 8 4

In [27]:
for index,value in enumerate(a):  #iterating through list using indexes
    print(index,value) # can be replaced as ch=a[index]

0 2
1 4
2 2
3 5
4 7
5 2
6 8
7 4

In [28]:
a=20
b=30
print(a,b)
a,b=b,a
#after swapping
print(a,b)

20 30
30 20

In [29]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

**LIST COMPRESHENSION**

In [30]:
a=[i for i in range(1,10)]    
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:

t=[2**i for i in range(1,11) if i%2==0]   
t

[4, 16, 64, 256, 1024]

In [32]:
b=[[i*n for i in range(1,11)] for n in range(1,11)]
b

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [33]:
{i: i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

**DICTIONARY**

In [34]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [35]:
type(my_dict)

dict

In [36]:
my_dict['Car1']

'Audi'

In [37]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [38]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [39]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [40]:
my_dict['car4']='Audi 2.0'

In [41]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [42]:
def multiply(x):
    return x*2
isinstance(multiply,object)

True

In [43]:
##Nested Dictionary

car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [44]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [45]:
print(car_type['car1']['Mercedes'])

1960

In [46]:
## MAP function
a=[1,2,3,4,5,6]
list(map(lambda x:2*x,a))

[2, 4, 6, 8, 10, 12]

In [47]:
b=[1,2,3,4,5,6,7,8,9,10,11,12]
def isEven(x):
    if x%2==0:
        return True
    else:
        return False   
    
list(filter(isEven,b))

[2, 4, 6, 8, 10, 12]

In [48]:
list(filter(lambda x:x%2==0,b))

[2, 4, 6, 8, 10, 12]

In [49]:
b="1 2 3 4 5 6 7 8 9"
b.split(' ')

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [50]:
'-'.join(b)

'1- -2- -3- -4- -5- -6- -7- -8- -9'

In [51]:
b="1 2 3 4 5 6 7 8 9"
b.split(' ')

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [52]:
new="  2 3 4 5 6  "
new=new.strip()
new

'2 3 4 5 6'

In [53]:
li=new.split(" ")
li

['2', '3', '4', '5', '6']

In [55]:
li=list(map(int,li))
li

[2, 3, 4, 5, 6]